[2013-02-14 01:37] carlosdubus opened #1 "Not working on IE8"
Hi!

IE8 returns 'medium' instead of a number for css('borderTopWidth') when no border is set... that makes _observe fail working.

So I changed _observe to this:

function _observe() {
            var $inner = $e.find('div.jscroll-inner').first(),
                borderTopWidth = parseInt($e.css('borderTopWidth')),
                borderTopWidthInt = isNaN(borderTopWidth) ? 0 : borderTopWidth

[2013-04-09 07:01] #1 closed, assigned to pklauzinski

[2013-06-07 13:45] nmaves opened #5 "Monitor the scroll of the window and not the container"
You plugin is great and almost working for me.  My issue is that the scrolls are not calculated correctly because my container does not have a height.  All of the elements inside of my container are floated and therefore the container has a height of zero.

Any work arounds for this?  Most of the other infinite scrolling plugins allow you to configure an element to bind the scrolling to with the d

[2013-06-10 12:55] volkanongun opened #6 "destroy method?"
how do we use destroy method? can you give an example? thanx!

[2013-06-20 08:12] #5 closed, assigned to nobody

[2013-06-20 08:15] #6 closed, assigned to nobody

[2013-07-17 16:13] chulian1819 opened #7 "not working with contentSelector"
im using

[code]

but in the log says:

nextHref    "page2.html .content .content"
instead of "page2.html .content"

if I remove the contentSelector will work ok but with the unwanted html

[2013-07-23 18:38] nathanhornby opened #9 "has no method 'destroy'"
I'm getting this error in the console with debug on.

`jScroll: nextSelector not found - destroying jscroll.jquery.min.js:15
Uncaught TypeError: Object function (c){return this.each(function(){var f=b(this),e=f.data("jscroll");if(e&&e.initialized){return}var d=new a(f,c)})} has no method 'destroy'`

[2013-07-23 18:48] nathanhornby opened #10 "nextSelector/contentSelector problems"
Using these two together doesn't seem to work, and the debug info is unclear.

When using them both I see:

`nextHref: "undefined #the-content"`

This doesn't work, and just gets jittery at the bottom of the page, not loading in any content (#the-content is the correct selector for the content I wish to load in).

When only using the 'nextSelector' I see:

`nextHref: undefined`

Oddly it pulls in

[2013-08-07 00:17] jeedee opened #11 "Problem with dynamic content"
I have an instance of jscroll binded to my element `div#results`. Using filters, my user may narrow the search which launches an ajax request that updates `div#results`. It seems jscroll does not work after the content has changed (even if I have an element with the selector).

I tried destroying jscroll and rebinding again once the content has changed but I had no success so far. Help?

Thanks!

[2013-08-14 16:08] chrisbenseler opened #12 "Bug in Safari iOS 6.1.3"
Try to use w/ Safari from iPhone, what happens: setting autoTrigger to true, nothing changes.
When autoTrigger = false, the "next page" link appears and in the first click, it works fine (content is loaded). But in the second click, nothing happens. I guess that the $next.bind('click.jscroll') is not being called.
Using jQuery 1.9

[2013-09-01 10:21] ErikSchierboom opened #14 "No NuGet package available"
Most .NET programmers nowadays load library dependencies through [NuGet](nuget.org). It would be great of jScroll would also become available as a NuGet package.

[2013-09-12 11:28] cemerson opened #15 "Will this work with Zepto js (now or in future)?"
Just curious! :)

[2013-09-19 18:09] ProyectosCoco opened #16 "Loading once"
Love the product, but I seem to be having a problem with it loading only once. Everything else works fine!!

Please help. Thank you!!

[2013-10-12 17:42] pensiero opened #17 "Trigger _load()"
How can I trigger the _load function from external?

like $('.element').jscroll('load');

Thanks,
Oscar

[2013-10-17 14:07] Soullivaneuh opened #18 "Bower integration"
It would be great if you can integrate a bower.json file for bower manager.

More informations here: http://bower.io/

Thanks.

[2013-11-21 17:50] #15 closed, assigned to nobody

[2013-11-21 17:52] #17 closed, assigned to nobody

[2013-11-21 18:12] #7 closed, assigned to nobody

[2013-11-26 06:25] #14 closed, assigned to nobody

[2013-11-26 06:30] #16 closed, assigned to nobody

[2013-11-26 06:49] #11 closed, assigned to nobody

[2013-11-28 07:09] #10 closed, assigned to nobody

[2013-11-28 08:25] #12 closed, assigned to nobody

[2013-12-05 23:03] pottrell opened #21 "Using with MySQL Data"
Is it possible to use jScroll with data from a database?

[2013-12-06 06:59] #21 closed, assigned to nobody

[2013-12-14 12:55] orszaczky opened #22 "Reinitializing jScroll after AJAX call? Still loading old values after AJAX load."
I'm paginating search results returned from an AJAX call:

<pre>
$('#search').keyup(function() {
    var search = $(this).val();
    $.get('/search', {search : search}, function(results) {
        $('.scroll-table').html(results);
        $('.scroll-table').jscroll();
    });
});
</pre>

After getting the new set of search results, when I scroll to the bottom, jScroll appends content of the next p

[2014-01-07 10:34] timgluz opened #24 "[enhancement] Add missing bower.json."
#### Hey, maintainer(s) of pklauzinski/jscroll!

We at [VersionEye](https://www.versioneye.com/signup?promo_code=BOWER) are working hard to keep up the quality of the bower's registry.

We just finished our initial analysis of the quality of the Bower.io registry:

**7530** - registered packages, *224* of them doesnt exists anymore;

We analysed **7306**  existing packages and  **1070** of them do

[2014-01-09 13:26] juju95 opened #25 "Callback only loaded the first time"
Hi,

Made this script works for my need but just have a bugg

callback function is only loaded at 1st page loading, when jscroll get page 2 content etc, callback is never called again

for my test just simply used :

[code]

[2014-01-10 08:18] #25 closed, assigned to nobody

[2014-01-24 16:07] markusfalk opened #26 "custom append position?"
is it possible to have an option that defines the position in the dom where to add the response and remove the additional divs?

I have a list and want to add more li to it upon scrolling. all elements need to be in that list to work with my sorting logic.

thanks.

[2014-01-29 04:46] versello opened #27 "Unable to reinitialize after ajax"
Having an issue where jscroll doesn't bind after ajax load. I've read "Problem with dynamic content #11" which sounds like my issues, but cannot find a resolution. jscroll doesn't seem to want to find after being destroyed.

	$('#search').on('input propertychange', function() {
		$.ajax({
			url: 'list.php?query=' + $('#search').val(),
			success: function(data){
				$('#file-container').jscroll.d

[2014-02-24 11:56] VictorySaber opened #30 "Needs a user option to handle error from .load()"
It should have a callback for when .load() (inside _load()) returns an error. Otherwise the loading image just sits there....forever.

At the moment I'm doing this (I should probably do a pull request or something but I'm still learning my way around GitHub):

$inner.find('div.jscroll-added').last().load(data.nextHref, function(r, status, xhr) {
                    if (status === 'error') {

[2014-03-13 08:16] sanjukandgal opened #31 "Not working in Chrome"
$('#content').jscroll();....
not loading the second page in chrome...

Thanks
Sanjay

[2014-03-13 11:06] #31 closed, assigned to nobody

[2014-03-24 18:45] evivz opened #33 "Jquery overlapping content for first time!"
Hi this is the result page : http://projects.vivek.be/ebaysearch/indexc.php?search=mobile I am using jscroll to load more content. But for the first time content is overlapped over old content! How to solve this?

thansk.

[2014-04-02 07:13] dannewns opened #35 "adding in a delay"
Hi

just wondering if there was a way of adding in a delay to stop the next load from firing again after one has just been fired.

im having an issue where im loading images in and of course i think because the images  also take time to load in and change the height of the element its firing off the call to load again because its basically only increased the height of the dom element by about 40-6

[2014-04-02 23:17] dmasson opened #36 "Loads content early"
This is the URL to reproduce:

http://test.plumaz.com/library/

I begin to scroll down and more content rows appear below before the getting to the scrolling point , ..

What am I doing wrong ?

[2014-04-24 13:29] erswelljustin opened #37 "Codeigniter & jScroll"
Hi

Firstly thanks for this awesome little plugin it has been super easy to get in and running, however I have hit a little bump which I hope you will be able to help with.

On the first load of the view CI places a next link in this case (http://localhost/index.php/board/morePosts/30) and the first scroll works unfortunately jScroll then destroy's the link and it stops.

What I need is a way of l

[2014-04-28 10:23] senceqi opened #38 "how to handler the error"
when load the next page error by some reason (eg:wifi is not available),how to callback or retry the xmlhttprequest?

[2014-04-30 11:15] hemanth7787 opened #39 "Do not self destroys when there is only one page"
[code]

 Thanks for creating a great jquery plugin

[2014-07-26 18:09] debrajrakshit opened #40 "WordPress Integration"
Hi,

Thanks for the great plugin. I was trying to use it to load WordPress posts by creating a category template. Can you help me out how can I use so the posts on the layout loads as I scroll the page?

I am trying to use:

$('.scroll').jscroll({
    loadingHtml: '<div id="circularG"><div id="circularG_1" class="circularG"></div><div id="circularG_2" class="circularG"></div><div id="circularG_3"

[2014-07-29 15:03] #40 closed, assigned to nobody

[2014-07-30 11:28] jonasbuechel opened #41 "Not Working in iOS5 / iOS6"
Is there a way to get jscroll working in IOS5 & iOS6?

[2014-09-09 20:43] coldpumpkin opened #45 "Can't get it to work"
Am I the only one that can't get it to work?

[code]

Nothing really happens.

http://jsfiddle.net/d2Lrm2a5/

[2014-10-20 14:27] mamfernandes01 opened #46 "return from history"
When a user returns from history. He will begin on top again and needs to scoll again the whole list.

[2014-11-07 20:59] justinbhayes opened #47 "Feature Request: Allow for autoTrigger:false after users clicks Next Page"
Is there a way to allow all remaining content to load after a user clicks the Next Page button when using the autoTriggerUntil option? For example: A page has 50 results, but I choose to show the first 18 on page load using the autoTriggerUntil option, then I click the Next Page button and the remaining 32 results load (with no additional clicks on any Next Page buttons). The Next Page button woul

[2014-11-20 05:35] prasanthbendra opened #48 "Multiple jscroll in same page."
How can I implement multiple jscroll in same page ?

I tired to implement 2 jscroll, but only one works, If i comment one the other one works.How can i make both of them work ?

--
regards,
Prasanth

[2014-12-24 21:53] amalts opened #50 "Can anyone provide a full demo of an ajax jscroll? I was searching for it all over the internet and didn't find a single one than snippets"

[2015-01-14 12:43] cordoval commented on #24
ping @pklauzinski please http://bower.io/search/?q=jscroll

[2015-01-15 14:04] JHGitty commented on #45
Same here. Not working.

[2015-01-15 14:04] JHGitty commented on #50
rel #45

[2015-01-16 13:34] elouet commented on #48
I have the same issue, I don't think the plug-in sustains this type of usage (unless it's my mistake). It would be nice to have several parallel incrementing columns on a single page.

[2015-01-16 13:45] elouet commented on #45
Try
      <a class="jscroll-next" href="example-page2.html">next page</a>

[2015-01-16 17:24] coldpumpkin commented on #45
Same thing. Anyway I abandoned this script. Thanks anyway.

[2015-02-05 08:54] Arkadis commented on #47
+1

[2015-03-03 22:19] pklauzinski commented on #47
This type of functionality would be better served by parameters passed to your server side call in your `nextHref` value. Your initial call would load 18 results, and the URL for your "Next Page button" (`nextHref`) would be something like `/url.json?start=19&end=50`.

IMO, the amount of data returned for each scroll instance should be controlled by your server side (or static) script, and not by

[2015-03-03 22:19] #47 closed

[2015-03-03 22:22] pklauzinski commented on #45
Like any jQuery plugin, you have to include the jQuery script call **before** jScroll, as jScroll is dependent on jQuery. See below.

[code]

[2015-03-03 22:22] #45 closed

[2015-03-03 22:25] pklauzinski commented on #50
The official website has several examples. Did you not look there?

http://jscroll.com

[2015-03-03 22:25] #50 closed

[2015-03-03 22:29] pklauzinski commented on #48
You certainly can. You may create as many jScroll instances on a page as you wish, each with its own set of options.

As shown on the official website, http://jscroll.com, there are three examples on the same page.

[code]

[2015-03-03 22:29] #48 closed

[2015-03-03 22:35] pklauzinski commented on #46
jScroll does not interface with the browser History object at this time, nor does it have any type of cache built in. If you go back to a page with a jScroll instance, it will load initially just as any other javascript in the page. I would suggest caching your server side requests if you wish for them to remain once accessed.

Future versions of jScroll will employ caching in some manner. TBD.

[2015-03-03 22:35] #46 closed

[2015-03-03 22:36] pklauzinski commented on #41
Yes, changing the padding can fix the scroll detection for different devices/clients/OS.

Thank you for the update.

[2015-03-03 22:36] #41 closed

[2015-03-03 22:41] pklauzinski commented on #39
Looking into it...

[2015-03-03 22:54] pklauzinski commented on #37
I'm not sure about CI specifically, but with each scroll request that you load, you will want to load a link for the next page in your `nextSelector` or else jScroll will self-destroy. That link should come from your server-side script, so how that is loaded is up to you/CI.

[2015-03-03 22:54] #37 closed

[2015-03-03 22:56] pklauzinski commented on #38
This can be done via jQuery, but is not currently written into jScroll.

I will keep this open as a feature request. Thank you.

[2015-03-03 23:00] pklauzinski commented on #36
This sounds like a CSS issue and not an issue with jScroll specifically.

[2015-03-03 23:00] #36 closed

[2015-03-05 08:49] pklauzinski commented on #33
Not sure I understand, from looking at the page. This sounds like a CSS issue though, and not an issue with jScroll directly. If you can better define your problem, then please do so and re-open the ticket. Thanks!

[2015-03-05 08:49] #33 closed

[2015-03-19 02:29] Cam commented on #39
+1

PS. Thanks for script. Love it :)

[2015-03-19 19:16] pklauzinski commented on #18
@wodka `jquery.scroll.json` is for the jQuery Plugin Registry, not for bower. This issue will be handled in #24.

[2015-03-19 19:16] #18 closed

[2015-03-27 06:14] jimbatamang commented on #9
Is there a way to destroy/unbind plugin?

[2015-04-12 22:06] faizshukri commented on #36
After few hours digging on this weird issue, I found that the problem was caused by doctype is not correct (or not set). So it’s not a valid HTML so to speak. JQuery cannot calculate window height / document height correctly if doctype is not specified on window

Just put correct doctype above html tag and it will solve the problem.
[code]

[2015-04-12 22:10] pklauzinski commented on #36
Thank you, @faizshukri.

[2015-04-13 05:00] pklauzinski commented on #24
jScroll is now added to Bower and the NPM registry under the name "jscroll".

NPM Package: https://www.npmjs.com/package/jscroll

[2015-04-13 05:00] #24 closed

[2015-04-13 05:24] pklauzinski commented on #24
@timgluz and @cordoval  - please see http://bower.io/search/?q=jscroll :)

[2015-04-13 11:36] cordoval commented on #24
:+1:

[2015-04-13 14:59] pklauzinski commented on #18
@Soullivaneuh, @wodka - #24 is now resolved with `bower.json` added in the latest updates, among a few other changes.

[2015-04-13 15:01] wodka commented on #18
thx!

[2015-04-13 15:05] Soullivaneuh commented on #18
:+1:

[2015-04-14 14:55] johmcg64 opened #53 "autotrigger"
I set up a text case using the default settings and it is not autotriggering. The next page link appears.
My code follows:

[code]

[2015-04-14 20:30] yairpe opened #54 "more than one scroll on a page"
I'm trying to have two jscroll on a single page.

One is on the regular posts page
The other is in sidebar (UIKit off-canvas)

After opening the sidebar and binding jscroll to its div, closing the sidebar, the scrolling in the main page is with the sidebar.

Is there any way to push/pop the jscroll functionality?

Thanks

Yair

[2015-04-17 03:42] borayeris commented on #54
I have the same question. Only one column works. Is it a bug or am I doing something wrong?

[2015-04-17 05:43] borayeris commented on #48
Not working.

[2015-04-17 18:29] pklauzinski commented on #48
@borayeris - that doesn't help me resolve your problem. Please point me to an example of your code, or place one up on http://codepen.io/. Thanks.

[2015-04-17 22:59] borayeris commented on #54
Hi Yair,

I think I found a solution.
https://github.com/borayeris/jscroll
I modified jquery.jscroll.js. Please test it.

[2015-04-17 23:02] borayeris commented on #48
I forked your code. You will understand.

[2015-04-17 23:44] yairpe commented on #54
Thanks. I'll take a look at it.

[2015-04-20 08:14] sumanta-ghosh opened #55 "No next href present but it hit load function"
When I don't have any content to load still it hit load. In my page there is no next link.
So I change some _setBindings() and added bellow two lines

[code]
[code]

I want to know is't correct or there is another way to do that or it has that type of functionality I implement it incorrectly that's why it hit load function thought there is no next page

[2015-04-20 19:36] pklauzinski commented on #55
@sumanta-ghosh - `_setBindings` should never get called unless the nextHref is present within the jscroll element, as referenced in the `_checkNextHref` method:

[code]

Somehow it is still finding it. Do you have an example of your code?

[2015-04-20 19:42] pklauzinski commented on #54
@borayeris - Please submit a pull request for your changes if you think they fix the issue, and we can add it to the main repo. Also, make sure you run `grunt` in your dev environment so that the minified file is created.

[2015-04-20 22:13] pklauzinski commented on #53
@johmcg64 - jQuery is a dependency for jScroll to work. I do not see jQuery included in a `<script>` tag.

[2015-04-20 22:19] #53 closed

[2015-04-21 05:12] sumanta-ghosh commented on #55
[code]
at the Initialization time _checkNextHref() is not call. _checkNextHref() is calling from _load()
_checkNextHref() function is call from _load() function only

[2015-04-21 22:41] yairpe commented on #54
borayeris,
Maybe i'm doing something wrong but it keep loading all pages one after the other in the sidebar

I've implemented a simple '--More--' button myself for the inner scrolling.

Right now I'm fighting jscroll not to trigger if there is only one page and no nextSelector found....

[2015-04-21 23:28] yairpe commented on #55
I faced the same problem and sumanta solution solved it.

pklauzinski, I believe sumanta is right.
The only place that _checkNextHref is called is in _load function.

`// Load the next set of content, if available
            _load = function() {`

testing with firebug, _load was not called at the beginning. only after jscroll triggered (with the wrong url since it has 'undefined'

Please take a l

[2015-04-22 00:53] borayeris commented on #54
yairpe,

Do u have it online?

[2015-04-22 05:37] yairpe commented on #54
see topishare.com  test account: test@topishare.com / test
The first jscroll is the posts in a topic page
The second one I thought to use it is the internal mail (envelope icon at the header) but implemented a simple 'More' myself

[2015-04-23 06:19] alonziv commented on #55
I had the same issue.  Firefox was fine, but in Chrome the loading div would appear even if there was no "next" link.  sumanta-ghosh's solution resolved it.  Thanks for the great plugin!

[2015-04-23 11:06] xplk commented on #39
+1

[2015-05-04 03:18] #55 closed

[2015-05-04 04:53] pklauzinski commented on #55
https://github.com/pklauzinski/jscroll/commit/2bd4b0a368da3d385ef1df5161b83d17e2a9177c

[2015-05-05 09:15] gregatmcube opened #57 "_destroy does not remove data from target element"
Destroy function removes data jscroll from the window and not from the targeted element. I just put there this line:
$e.removeData('jscroll');
to fix my issues. I could not rebind the functionality after destroying it, because data was already set.

[2015-05-07 22:01] darkred opened #58 "(in a userscript for reddit.com) It only appends page 2 when having login"
I've made this userscript in order to use jScroll it in reddit.com and any subreddit

[code]
where `span.nextprev` is the selector for the _Next_ button
and `div.content` is the selector for the links content of every next page.

If open eg. reddit.com without login, then it works ok (it appends every next page).
The problem is when I try my userscript having login:
**it only appends page 2, not t

[2015-05-08 04:51] pklauzinski commented on #58
@darkred - The element you call `$().jscroll` on should be the container into which the content will be loaded, not the selector for the next button. Your next button selector should be provided in the options as `nextSelector: 'span.nextprev a` - Additionally, the `nextSelector` needs to be an anchor `<a>` tag so that jScroll has an href to use for the next set of content.

Based on looking at yo

[2015-05-08 05:06] pklauzinski commented on #58
@darkred - Also, make sure you are not linking to javascript from raw.github.com, as the headers will not be sent correctly and break the script in some browsers - see this post on stackoverflow: http://stackoverflow.com/questions/7180099/including-js-from-raw-github-com

Instead, I suggest you use something like https://rawgit.com/ or maintain the script on your server itself.

[2015-05-08 11:01] darkred commented on #58
Thank you very much for the detailed and instructive replies!

I just tried your code and it only appends page 2.
Also, before it appends page 2, it adds the entries from the "recently viewed links" table
(please check the red arrows in my [screenshot](http://i.imgur.com/JDn1f8g.png) to see what I mean)

Unfortunately I still can't make the script work.
Please, login to reddit and help with this.

[2015-05-08 19:09] pklauzinski commented on #58
@darkred  - Ok, I see the reason for both issues. As for the pagination, once you go to the section page, `span.nextprev` contains both "previous" and "next" links, but you only want jScroll to target the "next" link, so change your `nextSelector` to `span.nextprev a:last`.

Secondly, the "recently viewed links" table also uses the `thing` class, so you need a `contentSelector` that is more specif

[2015-05-08 19:26] darkred commented on #58
I tried it and, yes, the "recently viewed links" section is no longer appended.
But unfortunately it only appends page 2, as well.

[2015-05-08 19:34] pklauzinski commented on #58
Ah.. sorry, you also need to include `.nav-buttons` in your `contentSelector` so that it is loaded into the content to find the `nextHref`. Corrected code:

[code]

I just tried this out on reddit.com and it works.

[2015-05-08 19:41] darkred commented on #58
Now it works great!!
I've learnt a lot about your great plugin!
I now might be able to use it for other sites too.

Thanks a lot for all your help and for making this!

[2015-05-08 19:41] #58 closed

[2015-05-08 19:41] pklauzinski commented on #58
@darkred - You may also want to add a `callback` option to hide or remove the `nav-buttons` div so that it does not disrupt the flow of content. For example:

[code]

[2015-05-08 19:48] darkred commented on #58
Thanks! Now it's perfect!

[2015-05-20 10:04] efriandika commented on #27
i have same problem with you.
i just add:

    $('#list-album').removeData('jscroll');

it solved my problem.

[2015-07-04 11:14] darkred opened #60 "jScroll doesn't seem to work ok with a page displaying results in a table"
I've been trying to make this userscript in order to use jScroll it in thepiratebay
(in the tables for Browse and Search results)

[code]

Test link: https://thepiratebay.gd/browse/401
_Note:the `nextSelector` is the link that appears with the ">" arrow icon._
<br/>
Unfortunately I got these problems:
1. jScroll **only appends (the cells of) page 2** and not the others too.
   Below is the HTML of

[2015-07-07 20:14] pklauzinski commented on #60
@darkred - For `nextSelector` you can use the following string instead of creating a jQuery object:

[code]

Let me take a look into the other issues and I will get back to you.

[2015-07-07 21:22] pklauzinski commented on #60
@darkred - Unfortunately, jScroll isn't currently designed to work within tables. It will add `<div>` elements within your table elements, creating invalid HTML. I would say your best option at this time is to call jScroll on `#main-content` and load each subsequent `<table>` from the jScroll payload underneath one another.

I do see the utility in having jScroll work within tables, however; so I

[2015-07-08 15:59] darkred commented on #60
Thanks a lot for your replies.

Unfortunately the [relational pseudo-class](http://dev.w3.org/csswg/selectors-4/#relational) `:has()` (a Level 4 selector) is still not supported by FIrefox 39 (nor in Chrome 43).
_[Browser CSS-Selector-Test ](http://css4-selectors.com/browser-selector-test/)_

Your other suggestion (about calling jScroll on `#main-content` and using `table` as `contentSelector`) is

[2015-07-08 16:03] pklauzinski commented on #60
`:has()` is not supported natively by all browsers, but it is a jQuery selector and is normalized for unsupported browsers.

See: http://api.jquery.com/has-selector/

[2015-07-08 16:43] darkred commented on #60
I thought that it wasn't a jQuery selector but a CSS one,
because you wrote it without a dollar symbol in front
i.e. not `nextSelector: $('a:has(img[src="https://piratebay.org/img/next.gif"])')`

But, unfortunately it doesn't work either way: it only appends page 2.
Please try it yourself:

[code]

in the end of the table (appended page 2) the last line which contains the "Next" link is missing (t

[2015-07-15 10:37] joachim-n opened #61 "clarify documentation for 'nextSelector'"
Documentation for 'nextSelector' could do to specify that the selector must be relative to the selector jscroll() is called on.

[2015-07-20 16:29] saqueib opened #63 "other plugin and event bindings on loaded page content is not working"
I have some plugin on returned page content, but its not working when page load from ajax. I have tried using callback and then it works but performance get slow.

Is there any option to get the ajax response, so I can attach my plugin on the response itself, not on hole page on every page load. Something like below will be helpful.

         callback : function(res, status){
                  //c

[2015-07-21 13:02] markfqs opened #64 "Scrolling table rows"
Hi,

I'm currently using jscroll as is the best and simplier approach (out-of-the-box) to achieve what I want. Although I'm facing some issues when using it to scroll table rows:

Given the jscroll binding:

[code]

And the following HTML snippet:

[code]

I tried attaching the CSS selector class 'infinite-scroll' to both the outer div, the table, and the tbody tags. With all tests I got the same

[2015-07-22 09:10] marcOSS040 opened #65 "Change state of autoTrigger during runtime"
Hi,

is there a simple way to change the status of the autoTrigger during the runtime?

I have an "infinite" list of content and on site number one it shows up the first 6 results. In my initial call I would like the User to activiley press "show more" and from there on I want to change the autoTrigger to "true" so that the user can load more sites with also 6 results on every call just by scrolli

[2015-07-27 21:06] pklauzinski commented on #64
This is being addressed as an enhancement in #60.

[2015-07-28 12:46] markfqs commented on #64
As per your info, in my case I solved my particular issue at jscroll v2.2.4 adding:

$('.jscroll-added').children().unwrap(); // Remove the added div

Just after removing the privous 'next' selector (line 165 of v2.2.4 jquery.jscroll).

I just opened an issue to github to see if there is a better way or enhancement planned

[2015-08-03 15:19] kirtesh08 opened #66 "Automatically Add data infinitely without scrolling"
I have code it in MVC .net but problem is that It automatically goes to infinite loop without scrolling it starts loading recklessly without moving to the bottom of the page. The following is all the code I implemented. Its on stackoverflow please check for further details

http://stackoverflow.com/questions/31787566/jquery-jscroll-not-working-properly

[2015-08-06 06:17] androidworldbh opened #67 "PHP & MySQLi - can't get it work"
I think my code is right but i can't get it work don't know why. Here's d code.

Js
 <script src="js/jquery.jscroll.js"></script>

 <script src="js/jquery.jscroll.min.js"></script>

<script type="text/javascript">
$( document ).ready(function() {

 $('.jscroll').jscroll({

 	loadingHtml: '<img src="images/ajax-loader-2.gif" alt="Loading" /> Loading...',

 autoTrigger: true

 });
 });
   </script>

[2015-08-09 22:55] pklauzinski commented on #67
@androidworldbh - You are including the jScroll source twice. You should only have one file, either `jquery.jscroll.js` or `jquery.jscroll.min.js`, but not both. `jquery.jscroll.min.js` is just the minified version of the code.

[2015-08-10 05:16] androidworldbh commented on #67
I've removed .min. version , unfortunately same thing - not working

[2015-08-10 05:20] pklauzinski commented on #67
I can't really deduce what the problem is from the information given. Do you have an example page to view?

[2015-08-10 09:15] rashedshaon opened #68 "Automatic added class problem"
I wanted to add only content those loaded. Here automatically added '.jscroll-inner' & '.jscroll-added'. I wanted to remove this two class '.jscroll-inner' & '.jscroll-added'. How I do this?

[2015-08-11 08:24] e9827016 opened #69 "Documented versions differ"
* The readme says: @version 2.3.2
* The code says: @version 2.3.4

[2015-08-12 05:42] pklauzinski commented on #68
These classes are part of how the plugin works and keeps track of what content has been added while scrolling.

[2015-08-12 05:42] #68 closed

[2015-08-12 05:48] #69 closed

[2015-08-12 09:52] rashedshaon opened #70 "How to combine jscroll with isotope ?"
is there any way to combine jscroll with isotope? If I get the loaded content then I think that will be possible.

[2015-08-14 17:32] kirtesh08 opened #71 "Javascript doenot work for other data but first page"
While using jscroll I have added some other javascript to my objects which seems not working for any of the next set of data but working for only first set

[2015-08-17 20:30] dchaplinsky opened #72 "Reverse scrolling"
I need jscroll for messaging window. Think facebook messages, when older messages are higher than newer, so you should scroll to the top to load a portion of messages history.

Am I missing something or a bit of radical surgery required to make it work? Are you interested in such PR?

[2015-08-18 03:50] pklauzinski commented on #72
This has been requested before. Thanks for the input.. I have marked as an enhancement.

[2015-08-18 03:52] pklauzinski commented on #70
I'll have to set up a demo with jScroll and Isotope to try it, when I have time. You are welcome to do so yourself, and if you find a good solution, please enter a pull request. Thanks!

[2015-08-18 22:37] dchaplinsky commented on #72
#73 here ya go

[2015-08-19 01:34] andytruong commented on #72
Awesome!

[2015-08-20 03:48] hraynaud commented on #66
I'm having the same issue any luck with a solution

[2015-08-20 07:31] kirtesh08 commented on #66
not yet i just put auto to off right now o further improvements

[2015-08-20 07:43] kirtesh08 commented on #66
Ok dude i just solve it right now its just when I am creating new hyper link the id was same at all the time once u gave the id different every time the problem is solved

[2015-08-20 14:39] UsingTheCode opened #74 "How do you integrate this with your ajax code?"
$('.infinite-scroll').jscroll({
    loadingHtml: '<img src="loading.gif" alt="Loading" /> Loading...',
    padding: 20,
    nextSelector: 'a.jscroll-next:last',
    contentSelector: 'li'
});

Given this code, where would I stick my AJAX calls? That's the only part that confuses me.

[2015-08-29 06:40] pklauzinski commented on #74
@UsingTheCode - the ajax call is made from the `href` attribute defined in your `nextSelector` option. In other words, `nextSelector` should be an anchor element within your `.infinite-scroll` element. jScroll will find that link, take the `href` value and call it as your next set of content, and for each subsequent set of content.

[2015-08-29 06:40] #74 closed

[2015-09-03 21:02] darkred opened #75 "(about nextSelector) how to define it in pages where there's no 'Next' page, but only links to page 1,2,etc"
I've been trying to make this userscript in order to use jScroll it https://openuserjs.org/

[code]

First of all, in that page, the "Scripts" table  is the 1st (the other is the "Announcements" table),
so I used `$('table')[0].jscroll({`.
But, unfortunately I get `$(...)[0].jscroll is not a function` in FIrefox's Browser Console,
therefore the script cannot be executed.
**Shouldn't this work, tho

[2015-09-05 13:15] marcOSS040 commented on #65
Thanks for putting this to state enhancement. I am back on the point to have a look at this on my project. Is there a way to get this functionality with the current version?

[2015-09-09 15:59] GaryLProthero commented on #64
Just a note: this also works with ul/li's.  However, you will need to make sure your "next" link has an li as its parent or else only one page will load in.

[2015-09-09 20:20] pklauzinski commented on #75
The reason your call to `jscroll` isn't working is because `$(...)[0]` is not a jQuery object, it is just the DOM node itself. Instead, you should do something like `$(...).first().jscroll` if you want to set it on only the first element in the array.

[2015-09-09 20:26] pklauzinski commented on #75
As for your `nextSelector`, jScroll only looks for the first instance of it, as there should only be one link to the next page, as shown in this line directly from the source:

[code]

Also, make sure that your `nextSelector` is just the selector *text*, and not a jQuery object itself.

[2015-09-09 20:30] pklauzinski commented on #75
In looking at the page, you could potentially find the next selector by using the CSS *adjacent sibling* selector. Try this:

[code]

This will access the next page link after the currently *active* page.

[2015-09-09 23:17] darkred commented on #75
Thanks for replying.

So, I've tried this:

[code]
but unfortunately it doesn't work (it doesn't paginate not even page 2).

[2015-09-09 23:43] pklauzinski commented on #75
It looks like the pagination is not actually within the table element. jScroll looks for the `nextSelector` *within* the jScroll selector, so you probably want to actually call jScroll on the parent of both elements. It looks like `.col-sm-8` would be your best bet.

[2015-09-09 23:45] pklauzinski commented on #75
Try this:

[code]

[2015-09-10 09:50] darkred commented on #75
With your latest code, the pages are indeed paginated.

In order to remove the nav buttons I added this to your code:
[code]
I'd prefer the pages be paginated to table as one continuous table.
The only problem now is that the table "Announcements" (on the right), is also included in every pagination (of page 3 and on).
Could this be avoided?

[2015-09-11 05:14] pklauzinski commented on #75
Instead of removing the nav buttons with your callback function, you can instead use the `pagingSelector` option in jScroll, which searches the `nextSeletor` parent chain for that selector and will hide the pagination controls if found:

[code]

You could alternatively use the `callback` option to remove the "Announcements" table with each request.

[2015-09-11 19:52] darkred commented on #75
`pagingSelector ` unfortunately didn't hide the nav buttons.
But, if I add this:

[code]
then they are removed.
But still the rows of each next paginated page are not merged with the table from the previous page.
Is it possible this to be fixed?

<br>

Currently the 5 rows from the "Announcements" table (i.e. except the header) are added in each paginated page (from page 3 and on).
What selector c

[2015-09-15 12:13] mrIllo opened #77 "self destruction not complete"
Given a case where you initialize on a div and have a list of items.
Then you have selects that replace the list of items of that div with a filtered list through ajax.
Maybe the new content of that div should use jscroll again.

So I call $('.list-container').jscroll.destroy() before submitting new select states through ajax.
Ajax response again calls $('.list-container').jscroll()

Bug:
It would

[2015-09-23 01:24] subversem commented on #66
I am experiencing an issue such as this, where my page loads, and immediately the plugin fires over and over whether I've scrolled or not.

I've sent a message on facebook with the URL to I'm referring to.

[2015-09-23 09:17] Marvin256 opened #78 "Can't have 2 jscroll instances on the same page"
Hello

I'm trying to make jscroll to work with 2 instances in the same time: I want to load next posts in the middle of the page and next instagram posts at the bottom of the page.

I can make the first one to work but not the second one and vice versa.

Here's how I do it:

[code]

Is it possible to do this?

[2015-09-24 09:57] Marvin256 commented on #78
Gave up with this one and coded my own lazy loader :-)

I don't know why I couldn't make this to work like the exemple on jscroll.com (3 instances at the same time)

[2015-10-01 22:01] espenlg opened #79 "Doesn't stop loading"
Hi there,

I've tried to implement jScroll at http://dev.agderposten.no/cxense/va-lazy.php but the problem is it never stops loading. It's like I'm always at the bottom. I added autoTriggerUntil: 5 just to make it stop at some point.

Any idea what could cause this? I've tried in Safari, Chrome and Firefox and I also tried removing the CSS but didn't help.

[2015-10-01 22:17] pklauzinski commented on #79
Does your content not fill the page? When `autoTrigger` is on, the next page loading is determined by the  bottom of the current set of content being above the bottom of the browser window. If that content is short, it will keep loading until it is below the bottom of the window. That is how it detects when to load the next set of content.

You may want to try adjusting the `padding` option to get

[2015-10-01 22:26] espenlg commented on #79
Thank you for the quick reply! I have tried to resize the window to make sure the first piece of content fills the entire screen and that didn't help. I have also tried various values of padding from 0 to 1000. The console says "jScroll: 0 from bottom. Loading next request..." .. 5 times in just a few secs.

[2015-10-06 17:01] GonzaloCalandria commented on #79
I'm having the same problem! did you found a solution for this problem?

[2015-10-06 17:41] espenlg commented on #79
I'm afraid not, so I found another solution http://imakewebthings.com/waypoints/shortcuts/infinite-scroll/ and that worked like a charm.

[2015-10-06 19:55] pklauzinski commented on #79
Are you using flexbox in your layout?

[2015-10-06 19:59] GonzaloCalandria commented on #79
I don’t know what’s flexbox is :)

[2015-10-06 20:01] pklauzinski commented on #79
I have tentatively deduced that this issue occurs when `display: flex` (flexbox) is used for the layout grid of then content you are loading with jScroll.

I will have to test further, but that is the only commonality I have seen between two reports so far of this issue - including the link given above by @espenlg.

[2015-10-07 13:11] Dill1 commented on #79
I have this problem using jquery 2.1.3. When I temporarily change to jquery 1.4.0 the problem goes away. I haven't experimented with which version exactly it starts happening, but my guess is jquery 2.0. I set debug to true. When the problem is happening it is detecting that it is -1600 away from the bottom (for example, or some other big negative number), so setting padding to -20000 stops the lo

[2015-10-07 14:12] GonzaloCalandria commented on #79
What i'm seeing in the debuging is that the values of `iTotalHeight` and `$inner.outerHeight()` are always the same values. I don't know too much what that means :/

[2015-10-07 17:24] Dill1 commented on #79
It is 1.7 vs 1.8. This may help indicate the problem:
http://stackoverflow.com/questions/26790396/jquery-1-8-and-higher-set-the-height-of-a-div-to-the-same-as-another-div

[2015-10-07 17:27] GonzaloCalandria commented on #79
jscroll.com is down... it's because @pklauzinski is working on a fix?

[2015-10-07 18:33] pklauzinski commented on #79
No, the host server was down due to a cPanel upgrade bug which has affected
a lot of people. It's back up now!

Thanks for the note on the jQuery versions. I will look into this.

On Wed, Oct 7, 2015 at 12:27 PM, GonzaloCalandria <notifications@github.com>
wrote:

[2015-10-07 18:45] Dill1 commented on #79
My pleasure. Thanks for looking into it, looking forward to hearing from you, I'm going live shortly and I would love to use jscroll with the latest JQuery.
jscroll is really nice to use, full featured and intuitive and pretty well documented, what a great plugin should be!

[2015-10-07 19:11] GonzaloCalandria commented on #79
I just put a height in the scroll container and worked!
Now i have a question... what if the jscroll is destroyed (because there aren't more `<a>` tags) and i load from ajax more content inside the scroll container? what do i need to do to make jscroll work again?
I'm calling again after the ajax call `$('.scroll').jscroll()` without luck.

[2015-10-08 04:42] jtsternberg commented on #30
Yep, this is definitely needed. it could be a callback or an event that gets triggered on the element.

[2015-10-11 14:06] Halnex opened #82 "jScroll.js with jquery.upvote.js: paginate() works on first page but renders voting buttons unclickable of posts on the remaining pages"
I am using a combination of jscroll.js, jquery.upvote.js and Laravel's `paginate()` method. It all works except for this little thing, the last post in the pagination page always has unclickable voting buttons.

No errors in the developer's console either.

**EDIT:** I just added a few more posts and noticed that the voting buttons only work on the first page, the rest of the pages are rendering t

[2015-10-14 17:54] VictorUVE commented on #79
I had a section tag with { float: left; } containing the div associated with the jscroll. And it kept loading and loading. That section was the last element in the page.

When I removed the { float: left; } it started to work well again.
It was solved as well adding a clearer element (with { clear: both; }) on the bottom of the page.

So if some of you got the same problem, maybe this could help.

[2015-10-14 19:43] Dill1 commented on #79
GonzaloCalandria: maybe you need to append a new link to the div before running .jscroll again?

[2015-10-16 14:56] pokonski commented on #82
You have to reinitialize your other javascripts, since you are only running them on `document.ready`

Read about http://api.jquery.com/on/ to support elements that might appear after the page is loaded.

[2015-10-19 18:20] pklauzinski commented on #82
Yes, see @pokonski's post above.

[2015-10-19 18:20] #82 closed

[2015-10-21 10:21] Hoannv commented on #78
+1
I have same problem

[2015-10-21 14:39] Hoannv commented on #78
@pklauzinski can you instruct how make jscroll to work with multiple instances at same page ?

[2015-10-22 05:35] gstricklind commented on #79
I'm also experiencing this bug: jScroll: -603 from bottom. Loading next request...

I've tried forcing a height for each article as well as enqueuing 1.4 jquery. I've inspected all elements within the content to scroll for any type of flex with nothing to be found. Also tried altering the floats and clears to no avail yet.

[2015-10-25 02:41] AbdullahGhanem opened #83 "scrollbar decoupled"
in my site respostat.com
while ajaxing the the views it adda a vertical scrollbar temporarily . also i think the plugin should be decoupled from jquery

[2015-10-26 17:11] darkred opened #84 "Instead of working ok it removes the navigation bar (without having setting set a callback to remove it)"
It's about this site: http://rlsbb.com/category/uncategorized/

I've been trying to make a userscript for infinite scrolling this site. My code is:

[code]
I'm pretty sure that the script should work.
_As you may see, I haven't set a callback to remove the `#pageNavigation` element._
Even so, instead of working ok, it removes the navigation bar.
And, as I've noticed, the navigation bar is removed

[2015-10-26 20:03] pklauzinski commented on #83
Are you referring to the vertical browser scrollbar? Any issues you have with the scrollbar can be addressed with CSS.

[2015-10-26 20:03] #83 closed

[2015-10-31 19:26] abdul-khaliq commented on #79
Hi,
i have a list of 20 div
Now i want to use pagination without any .php call (without any ajax). i already fetch all data. i want to show 10 div from 20 and rest 10 will be show after page scroll...

Thanks for any help.

[2015-11-05 20:30] pklauzinski commented on #78
It depends on how you set them up. Are you trying to put them in separate containers on a page that have a fixed height and `overflow-y: auto` or `overflow-y: scroll` set? This is how the examples are set up on jscroll.com. Otherwise, please provide an example of how you are attempting to place multiple instances on one page.

[2015-11-09 13:31] martemorfosis commented on #61
+1

[2015-11-16 17:35] peaeater opened #85 "Autotrigger doesn't fetch next content when body/html are 100% height"
In order to accommodate a background image that covers the entire viewport, I have set body and html to height: 100% on my page. When I do this, the jscroll autotrigger does not fetch the next page of results. Jscroll works fine when I remove the 100% height CSS.

Is there a way to have my cake and eat it too? Some workaround to get the autotrigger to work while retaining 100% height on body/html?

[2015-11-22 13:27] Hoannv commented on #65
@pklauzinski any update for this feature ?

[2015-11-30 16:56] iamakimmer commented on #79
also confirm the issue when using flexbox

[2015-12-27 17:14] tmblog commented on #67
not sure if typo here, but your jscroll class has typo:
clsss='jscroll'
class='jscroll'

[2015-12-27 17:21] tmblog opened #87 "Hide Pagination Links"
Hi great plugin thanks.
I am using
`$( ".pagination" ).css( "display", "none" );`

to hide pagination link, but it reappears on the next response, anyway to hide pagination links?

[2016-01-02 18:27] pklauzinski commented on #87
@tmblog - yes, use the `pagingSelector` option to hide pagination. For example:

[code]

[2016-01-02 18:27] #87 closed

[2016-01-02 20:48] tmblog commented on #87
Ah yes, thank you. Missed that from the docs! My bad.

[2016-01-11 17:24] fradelg commented on #79
I am not using flex but I the issue is gone by ading the following rule to my CSS

[code]

I hope it can help someone else. It can be added to jscroll in the line 62 of jquery.jscroll.js

[code]

[2016-01-13 08:31] webadequate opened #88 "How to configure?"
Hello. I need a help!
I have the next structure:

[code]

And i will configure:

[code]

And have once result:

[code]

But i just want  like a source
[code]

[2016-01-18 17:24] enoversum commented on #63
Sorry to hook into your post here, but the problem is of similar kind. How do I actually insert a re-call for a plugin (in my case bxSlider) as a callback in jscroll? Adding the needed JS inline into the container that is being loaded actually gets stripped out by jscroll entirely (which would be some kind of workaround).

[2016-01-20 00:12] solusipse commented on #36
Just had same problem on my bootstrap template, clearing fixed it. @pklauzinski maybe you should consider adding such information to `README`?

[2016-01-28 14:25] naresh86 opened #90 "Loading all the views Irrespective of scrolling"
Hi,

I have developed Sample application to load the partial views while scrolling,but my problem was its loading all the views when page loads.
this is my view code
<div id="container" >
    <div class="scroll" >
        @foreach (var item in Model)
{

        <a href="@Url.Action(@item.ViewName,"Home")"></a>
        <br />

}
    </div>
</div>
<script src="Scripts/jquery-1.11.0.min.js"></script>

[2016-01-29 21:08] pklauzinski commented on #90
Not sure, but it sounds like all of your views must be within the viewport when the page loads and that's why they are being triggered. Do you have an example link to it?

[2016-02-01 15:00] GonzaloCalandria commented on #79
Was this issue fixed?

[2016-02-09 11:15] hakt0-r commented on #75
Hi there, I though about opening another issue but my question is very similar to this thread, thus the post here.

I'll begin by saying that I am a newbie in JS/jQuery/everything but I am a fast learner. I have already managed to use your example in a few tampermonkey quickie scripts for a few of sites and on this one I have hit a snag [https://www.newscientist.com/issues/](url)

This is my code.

[2016-02-11 03:20] hakt0-r opened #91 "nextSelector triggering before the callback completes its scrubbing & doesn't stop loading."
[https://www.newscientist.com/issues/](url)
[code]
I am trying to write a quick tampermonkey script to have infinite scrolling on the Newscientist back issues page.

I did ask for help in my previous post #75, where I was trying to use the jsScroll directly with the dropdown. As you can see from above I came up with an alternative...

What I am doing here is transforming the dropdown into an unord

[2016-02-13 21:17] britiger commented on #85
I've the same problem with the following css on an outer div:
[code]
if I remove it, my page don't stop loading like #79

[2016-02-19 13:51] markfqs commented on #65
Hi, I'm also interested in this feature

Is there a way to enable/disable autoTrigger from external javascript code?

I need to enable jscroll only when is on an active tab. (as if users scrolls down while being on another tab, jscroll also triggers on the hidden one).

[2016-02-27 17:42] johncave opened #92 "jScroll always thinks user has scrolled beyond end of div - and immediately loads all pages."
Hi, I'm trying to use Jscroll to make a homepage of an image gallery script load the newest images as the user scrolls. A pretty standard usage of Jscroll I imagine. The problem I'm having is that Jscroll just loads every single page it can back to the beginning of time the moment it is triggered on the element, resulting it about 1GB of downloads and crashing the browser. To try to isolate the pr

[2016-02-27 22:58] johncave commented on #92
Here's a Mega link to an html file that demonstrates this in action https://mega.nz/#!w8tHWLKL!XUSYOfeeN7LTRg-S0PRXrbjx9gjeE0BI57o88rp55R0 . Note that Chrome won't execute the Javascript if opening it from hard drive due to CORS restrictions, but Firefox will.

[2016-02-28 00:18] guanzo commented on #92
Hello pklauzinski. Jscroll seems to break when the jscroll container relies on the window to scroll, and not it's own scroll bar. Thus the jscroll calculations for scroll position get all messed up. If you download johncaves html and add height:100% to #images-wall, it fixes the issue. That should help you get started on the root cause.

[2016-02-28 03:53] pklauzinski commented on #92
@johncave - are you using `display: flex` in your CSS for the content you are scrolling on?

[2016-02-28 05:53] johncave commented on #92
@pklauzinski I've never heard of that CSS property before, so no I wasn't. Though I have it working in isolation now, I've determined that jScroll also doesn't work on a Masonry grid div (Masonry sets the height to an exact number of pixels as part of how it works and for some reason this makes jScroll unable to tell how much is left of the div too) so that is also an issue for me.

[2016-02-28 20:51] darkred opened #93 "Is it possible to use a jQuery selector for nextSelector?"
I'm trying to make a userscript for majorgeeks.com.
My userscript doesn't work (it doesn't append page 2).

As you had described me in [here](https://github.com/pklauzinski/jscroll/issues/75#issuecomment-139036352)

So, my code is:
[code]

I believe the problem in my code lies int the `nextSelector`:
the selector for `nextSelector` that I'm after is the one-before-the-last `.pagelink` in the page.

[2016-03-01 02:57] guanzo commented on #93
You can translate that jquery statement into a selector with `:nth-last-child(n)`. `.pagelink:nth-last-child(2) a`

[2016-03-01 08:28] mkwsra commented on #48
@borayeris You've to calm down buddy :smile:
And @pklauzinski Can you show me how to solve such thing?

[2016-03-01 08:30] mkwsra commented on #48
And he changed something did you check it out?
[https://github.com/borayeris/jscroll/commit/712070f875f52e0ef8f570b18ee1b01cd3ed457c](url)

[2016-03-03 17:53] darkred commented on #93
Thanks for the reply. Unfortunately the script still doesn't paginate next page:
[code]
And, opening Firefox Inspector, and doing a search with your selector,
it doesn't select the 'Next page' icon, i.e. the `>`.

[2016-03-11 17:32] pklauzinski commented on #75
Yes, list elements do not work with jScroll at this time because of the way it wraps sets of content. This is being addressed in v3.0.

[2016-03-11 17:32] #75 closed

[2016-03-11 17:54] pklauzinski commented on #90
Closing due to lack of followup.

[2016-03-11 17:54] #90 closed

[2016-03-11 17:55] pklauzinski commented on #63
Yes, jScroll provides a `callback` option.

[2016-03-11 17:55] #63 closed

[2016-03-11 17:56] #27 closed

[2016-03-11 18:04] darkred commented on #75
Thank you.

[2016-03-11 18:12] pklauzinski commented on #88
jScroll adds the additional wrappers to handle tracking of added content. This may be removed in v3.0.

[2016-03-11 18:12] #88 closed

[2016-03-22 04:54] shizhua commented on #79
I am facing the same issue. And just fixed it as @fradelg mentioned adding following to my css.
`.jscroll-inner {
  overflow: hidden;
}`

[2016-03-31 17:15] SaraiMoreno opened #98 "reinitialize jScroll"
I have a news section with links to products, in this I am implementing the jscroll but when I go to a detail of any product to return to my news section the jscroll no longer works , I think that was destroyed when not find a href , I would like to know how to restart again jscroll

[2016-04-21 18:02] Saied1988 commented on #79
I found a solution for this problem
First you need to give a class name for the last page div
ex: `<div class="lastPage">Page content</div>`
Second go to the jqurey.scroll.js,then go to `_load = function()` before  `data.waiting = true;` and `$inner.append` add this code snippet

`var htmldata ;`
`//if last page exists or added then don't show loading image else show loading image`
` if ($('.lastP

[2016-04-25 14:03] TheSqrtMinus1 opened #100 "contentSelector doesn't appear to do anything"
[code]
[code]

[2016-04-25 15:44] marcOSS040 commented on #65
I hope this is still an enhancement option! :)

[2016-05-01 06:38] pklauzinski commented on #100
@TheSqrtMinus1 - what version of jQuery are you using?

[2016-05-01 06:42] pklauzinski commented on #98
If it does not find the `nextHref` selector then it will self-destroy. Are you defining an appropriate `nextSelector`? Also, you can use the `callback` option to reinitialize with new options if you need to.

[2016-05-01 06:42] #98 closed

[2016-05-02 12:49] TheSqrtMinus1 commented on #100
2.1.4, if I remember right

[2016-05-03 04:32] noveweb opened #101 "Scroll static ul li list"
Hi, can i use this plugin to paginate preloaded ul li list without ajax only html? Thanks!

[2016-05-06 07:40] khansab4 opened #102 "Every thing working Done. But How to load DOM/Javascript Functions with content?"
Javascript Functions is not working in pagination's Loaded Content.???

[2016-05-06 08:18] khansab4 commented on #25
how to callback function when function name & id & class with row id from table ???

<div class="scroller">
    <div class="scrpller">

        @foreach($timeline as $img)

        <img src="{{$img->link}}" style="width:500px;">
        <br><br>
        <p id="p{{$img->id}}" style="background-color:green;  padding:10px;">{{$img->id}}</p>
        <br>
        <button id="hide{{$img->id}}">Hide</but

[2016-05-06 08:21] khansab4 commented on #25
how to callbacl function when function name, class, & id with row primary id from table ???

`'
<div `class="scroller">`
    <div class="scrpller">

        @foreach($timeline as $img)

        <img sr//c="{{$img->link}}" style="width:500px;">
        <br><br>
        <p id="p{{$img->id}}" style="background-color:green;  padding:10px;">{{$img->id}}</p>
        <br>
        <button id="hide{{$img->

[2016-05-15 10:06] mrbarati commented on #45
you should add width and height style to .scroll
Good luck

[2016-05-17 03:44] Farb opened #104 "Next page link's href could be only static html path?"
In  my asp.net project,there is no html file.And I write the following code:
`<a class="next" href="/MyOrder/ChargerBabyOrders/2"></a>`

However,how could I load '/MyOrder/ChargerBabyOrders/3'(the 3rd page)?jscroll support action url?

[2016-06-07 12:43] stoney024 commented on #102
It seems not. I can't get any script to work on loaded content.

[2016-06-21 10:00] kevzlou7979 commented on #54
Any updates on this?

[2016-07-05 04:35] arvindpdmn commented on #79
I tried applying the .jscroll-inner CSS fix mentioned earlier. I tried with minimal content (content less than window height) as well as large content (content exceeds window height). In both cases, jscroll infinitely keeps adding content at the end even though scroll is at the top of the window.

My code is attached. (I had trouble embedding formatted code.) Code was placed in my web server root

[2016-07-05 05:33] arvindpdmn commented on #79
I think I found the solution. All I did was to add `<!DOCTYPE html>` at the start of my HTML file. This solves the problem!

[2016-07-18 18:26] sltmunky69 opened #105 "Upon Scroll, Submit Post Variables to Next Href"
How can I submit post variables to the next href link? I tried submitting a form using onclick but it doesn't appear that anything is actually clicked when the scroll is triggered. Are there any built in functions or variables for this?

[2016-07-20 23:46] CNK001 commented on #92
Hello, I have similar problem on one of my website, jscroll loads all pages

example: http://gotowysms.pl/teksty-sms/milosne

Any idea?

[2016-07-20 23:52] johncave commented on #92
@CNK001 I use a very similar layout to you but with images instead of words. I eventually didn't end up using jScroll, but everything I tried had the same issue, and how I fixed the issue was to rip out the fancy math they all seem to use to find the bottom of the div, then replace it with a simple "how far down the screen has the user scrolled? Is the bottom of the div nearby?". I could find exac

[2016-07-21 06:55] CNK001 commented on #92
It's only bootstrap css, I tried to add style
`  display: table;
    content: " ";`
to .scroll, .wrapper and .jscroll-added but unfortunately it doesn't work..

[2016-07-21 07:12] CNK001 commented on #92
Ok, I solved my problem.

In file **jquery.scroll.min.js** I changed:
`wrapAll ('<div class = "jscroll-inner" />')}`
to
`wrapAll ('<div class = "jscroll-inner clearfix" />')}`

Now everything is working fine :)

[2016-07-21 11:43] #92 closed

[2016-08-07 20:55] darkred commented on #93
I had used a wrong selector. Using `$('content')` and adding a few more selectors in ContentSelector
it appends page 2, therefore my question is answered: it is possible to a jQuery selector for nextSelector:

[code]

The only problem now is that it doesn't append pages 3, 4 and on.
Why is that?

[2016-08-08 00:23] darkred commented on #84
I was using the wrong selectors...
Here it is fixed:

[code]

[2016-08-08 00:23] #84 closed

[2016-08-08 18:25] darkred commented on #93
Thanks a lot, @guanzo.
 Here it is fixed:

[code]

[2016-08-08 18:25] #93 closed

[2016-08-12 02:52] san commented on #77
:thumbsup:

[2016-08-15 19:24] lucia33 commented on #48
for my case, it doesn't work if the same default setting is expected, say I want all elements work on scroll (default)

[2016-08-15 19:33] lucia33 commented on #54
@borayeris thanks your solution works

[2016-08-22 20:47] sltmunky69 commented on #85
I too have this problem.

[2016-08-26 17:02] sltmunky69 commented on #85
I had a similar problem on a Wordpress site I was building with 100% height that I thought might have been this issue, but it turned out that I added the scroll class to the wrong parent container element. I was using autotrigger to append MySQL results to a page and couldn't get it to work, but once I put it on the correct element and added an additional scroll class ('.scroll-next') on the child

[2016-08-27 01:04] #85 closed

[2016-08-28 22:08] fap2this1 opened #107 "Example 2 - Using autoTrigger = false implemented?"
Hi

is there somewhere I can get full code for example 2 on http://jscroll.com/. I really would like to
see how these next links is implemented, because I wanted to use this awsome jscroll together with pagination.

Example 2 - Using autoTrigger = false

[2016-08-29 02:57] htmgarcia commented on #102
@stoney024 I had the same problem and the solution was to duplicate the event that isn't working in loaded content inside the callback option key.

[2016-08-29 03:10] htmgarcia opened #108 "How to target the next link in callback when autoTrigger is true?"
Hi,
this is an awesome plugin @pklauzinski!

I'm adding some code in the `callback` option key. It works fine when `autoTrigger` is "false" due I can use the "click" event as trigger when somebody do a click on the _next_ link to load more content:

[code]

...however the problem is when I have `autoTrigger` as true since there is no "click" event due the new content loads automatically on scroll.

[2016-08-29 11:35] pklauzinski commented on #102
@khansab4 @stoney024 you must initialize any javascript behaviors on new content that is introduced to the page, either by using the `callback` option, as @htmgarcia suggests, or you can _delegate_ your behaviors from a parent selector that does not get removed from the DOM during a session.

For example:

[code]

If you initialize your behaviors in this way, they will always work, even for new co

[2016-08-29 11:35] #102 closed

[2016-09-07 16:10] ABM-Dan opened #109 "WAI-Aria"
Is there any plan to mark the autoscrolling regions as aria-live regions, and inject the proper accessible markup?

[2016-09-20 11:18] himanshutecstub commented on #70
Create isotop list call in a single function
`function isotopcall(){var $grid = jQuery('.productslist').isotope();}`
and create callback event for jscroll load complate as below.
`jQuery('.products-grid').jscroll({callback:function(){isotopcall();}});`

[2016-10-04 16:18] anybodesign commented on #70
Hello,
I've just tried the callback but it doesn't work, items are added, but isotope is not reloaded, so items are overlaping

here is my code

`	function isotopcall() {
		var grid = jQuery('.iso-grid').isotope({
			itemSelector: '.iso-grid-item',
			percentPosition: true,
			masonry: {
				columnWidth: '.grid-sizer'
			}
		});

		grid.imagesLoaded().progress( function() {
		  grid.isotope('layou

[2016-10-06 09:59] andi1984 opened #110 "Usage of jscroll-added container"
Hi,

I'm speaking in the following about this use case: I want to _"slide in"_ — simply let's say scroll — the newly loaded chunk into the scrollable view.

Therefore I use the callback functionality which **mostly** gives me the right context _this_ which is the latest `.jscroll-added` element added. With that I have all the information I need to do the scrolling, everything seems fine.

__But__

[2016-10-20 12:14] johniemj opened #111 "Chain loads everything"
For some reason the plugin chain loads all content without scrolling.
What might cause this behavior?

[2016-10-31 15:16] patriked opened #113 "Global next link?"
Hello!

I need to create all "next links" at once. Is it possible to do that with current code? My tests suggests it doesn't work.

What I need is the following:

<a href="Link to article 1" class="jscroll-next"></a>
<a href="Link to article 2" class="jscroll-next"></a>
<a href="Link to article 3" class="jscroll-next"></a>
etc.

I need to create eight links before the actual content is loaded so I

[2016-11-08 15:09] studentIvan opened #114 "require/import support"
The library doesnt support require or import (CommonJS, UMD, es6 webpack import, etc)

[2016-11-09 04:54] pklauzinski commented on #114
Noted, thanks @studentIvan!

[2016-11-09 07:14] TangMonk commented on #79
`.jscroll-inner { overflow: hidden; }` works !

[2016-11-10 13:09] philliparente opened #115 "Override the response append function"
I miss the possibility to override or parametrize the append into document function. If my response is a JSON I can't use this plugin for my needs. I would like to override, treat and do whatever I want to do with the response. What do you think?

[2016-11-11 15:36] pklauzinski commented on #115
@philliparente yes that is a good idea, and is planned for the next version. Thanks!

[2016-11-18 14:08] nikmauro commented on #105
Yes i have the same question! Any help?

[2016-11-28 08:52] breezern opened #116 "Multiple jscrolls && Exposed destroy API"
Hi, this is a convenient, small and exquisite plugin.But i get some issues here.

First,i want to set multiple jscrolls within a tab plugin,  there is only one jscoll instance displayed at the same time , so i have to set  `.jscroll{ overflow-y: scroll; height: xxxpx;}` in my CSS file.  But i do not want to set a fixed height for my jscroll instance.

Then, i get an idea that , when i set a tab to

[2016-12-01 07:16] FreezyIce opened #117 "License Confusing"
Hi Philip, while you stating dual licensed under MIT and GPL, does it mean that I can safely choose one of the license when using it in my project? Thanks in advance.

[2016-12-01 17:37] pklauzinski commented on #117
Yes, you can choose one or the other. GPL is there simply for those wishing to use it for their own purposes. In `v3.0`, I will likely reduce this to only MIT.

[2016-12-01 17:37] #117 closed

[2016-12-01 18:15] mcardia commented on #79
@fradelg solution works!

[2016-12-02 22:25] #79 closed

[2016-12-20 21:24] mrIllo commented on #78
Just made a pull request that contains an extension to support multiple jscrolls.

[2016-12-30 19:31] neobonzi opened #121 "Use of contentSelector parameter causes loaded scripts to not be executed."
When using the "contentSelector" parameter, jQuery's "load()" method is used with a suffixed selector expression which causes script tags to be stripped prior to dom being updated. This causes all loaded scripts to not be executed.

See "Script Execution" under http://api.jquery.com/load/

[2017-01-03 03:51] pklauzinski commented on #121
Executing scripts within the loaded HTML does not fall within the scope of jScroll. If you need to execute javascript upon loading the next page, use the `callback` option.

[2017-01-03 03:51] #121 closed

[2017-01-15 15:32] mkoch42 commented on #116
I was also having issues with the .destroy() method and had reverted to using .data('jscroll',null) which caused different issues - i altered my destroy() function to match breezern's changes above and started using the .destroy() method and it appears to be working well -

Thank you!

[2017-01-25 10:14] abhayin opened #122 "nextSelector not found"
Loading the function after second pagination it throw this error
**jScroll: nextSelector not found - destroying**
please help me out with this.....

[2017-01-25 17:41] pklauzinski commented on #122
@abhayin this is expected when there is no `nextSelector` present in a response. This means that jScroll has reached the end of its pagination. If you are expecting a paged result here, make sure that your `nextSelector` option is set correctly and that the selector is, in fact, being returned in your AJAX response.

[2017-01-25 17:41] #122 closed

[2017-02-07 08:48] sudhirbeldar commented on #55
@pklauzinski

Could you please help me in calling ajax query on scroll event. Whenever user reached to bottom I need to fire an AJAX query to get data and display it. I cant find a solution on this

[2017-02-07 13:42] vikasvats commented on #111
I am having the same issue.Any help.

[2017-02-08 12:37] vikasvats commented on #9
i am getting TypeError: $(...).jscroll(...).destroy is not a function on calling .destroy(). Any help ?

[2017-02-08 12:49] vikasvats commented on #116
Hii

I am getting not a function error on ".jscroll().destroy();". What is the issue?

[2017-02-16 09:30] gs-rpal commented on #114
I have addressed this issue. @pklauzinski can you have a look into it.

[2017-02-16 22:09] machadoug commented on #111
Same issue here. I've tried adding `padding:200` for testing and it still doesn't work properly.
@johniemj, @vikasvats , @pklauzinski  did you manage to fix it?

[2017-02-16 22:30] machadoug commented on #66
@kirtesh08 , I have just tested with a different random ids (for testing purposes) and it still continues to fire over and over without even scrolling.

[2017-02-21 09:03] mikila85 commented on #60
is this going to be solved anytime soon?

[2017-02-28 12:17] gs-rpal commented on #114
@pklauzinski Can you review this?

[2017-02-28 21:40] pklauzinski commented on #114
@gs-rpal you mean #124?

[2017-03-01 04:36] gs-rpal commented on #114
yeah

[2017-03-02 12:57] hakimihamdan88 commented on #71
yeah, any idea? im having problem on 2nd page(ajax loaded) with timeago.js too

[2017-03-14 02:00] microkof opened #125 "The examples in offical website are too simple"
This project is very good, but I suggest to detail the examples in offical website.

The examples in offical website are too simple, and there is no example in github repository.

[2017-03-14 23:27] jkeam commented on #115
Thoughts on when the next version is due to be released?

[2017-03-16 16:03] pklauzinski commented on #125
@microkof do you have any examples of your own you'd like to contribute?

[2017-03-24 14:01] microkof commented on #125
@pklauzinski sorry, I posted this issue because I don't know well about this project. So I suggest you add more examples, the code is too simple, I can't understand. I am a beginner, so can you add complete code?

please no abbreviated, more detailed.thank you!

[2017-03-25 15:41] KytoSai opened #126 "Padding option is bug"
When i create page with jsscroll, all is work fine but when scroll is loading next autotrigger althought i'm not scroll to bottom of div call jsscroll

http://prntscr.com/eobqgf

[2017-03-28 15:49] imhfg0ar commented on #111
adding some _debug() clearly shows what scroll measurements is completely broken - you should see it even in unmodified version with 'debug: true' setting - it shows always-negative offset which not even changes after some content loads.

the only working solution I've found is to revert to version 2.2.4 of this plugin _and_ to jquery 1.6.4 simultaneously. (2.2.4 - because it had some good feedbac

[2017-04-07 09:19] garak opened #127 "unbind is deprecated"
Using jquery 3.2.0, jquery-migrate 3.0.0. and jscroll 2.3.7
Warning: `jQuery.fn.unbind() is deprecated`

[2017-04-18 10:49] chizzycrusty opened #128 "jQuery not working in posts loaded"
Hello,

I use this plugin on a Laravel 5.4 project, the problem is that when new posts are loaded, jQuery doesn't work anymore in the posts loaded with the plugin as it works with the posts initially loaded.

Any idea of how I can fix that?

[2017-04-18 17:04] pklauzinski commented on #128
Can you be more specific on what the problem is? If you mean behaviors that have been defined for DOM elements that are introduced into the DOM when new content is loaded, then you will have to redefine those behaviors on the new elements using the `callback` option. Or you can you use [event delegation](https://learn.jquery.com/events/event-delegation/).

[2017-04-19 07:09] chizzycrusty commented on #128
Yes, this is my problem, but I finally managed to load most of my script back with the event delegation (basically boostrap tabs collapse and showing modal).
But I still have one problem. I'm using this package for a rating system: https://github.com/kartik-v/bootstrap-star-rating and I can't figure how to change this so that jQuery also load with the rating. I tried calling back jQuery like this:

[2017-04-19 07:48] chizzycrusty commented on #128
Nevermind, I had to callback my rating script too. Thanks for you help.

[2017-04-19 16:35] #128 closed

[2017-05-13 20:20] gvlasov commented on #125
@pklauzinski For me, the problem with the examples is that they don't tell you at all what do you need to do to get the updated content. I'd expect there to be a way to define a URL parameterized with the scroll position to asynchronously get the next portion of data, and a way to render that data after receiving it. But there is simply nothing like that in the documentation.

[2017-05-23 23:42] enricopalazzo commented on #125
I agree that a full example files would be good for newbies like me, that would like to see how the HTML part is done and also use it as system/user error check.

I've been trying unsuccessfully to make this work using the abbreviated HTML sample in the docs, so a full example could help me check what am I doing wrong, or if there's some other issue.

[2017-05-25 00:40] evandrodp commented on #92
+1.. thanks!

[2017-06-01 16:50] wong2 commented on #111
same here

[2017-06-02 01:48] user1894165 opened #129 "Using jscroll in Bootstrap modal?"
My webpage utilizes Bootstrap modals. Here's an example of one that requires jscroll infinite scroll:

[code]

Here is my current jscroll code:

[code]

The pagination returns HTML in the following layout:

[code]

What would I put in the `contentSelector` option so that all new pages are added into the `.modal-body` div?

[2017-06-02 02:09] user1894165 commented on #129
As an additional question, is it possible to return a custom JSON response, like:

[code]

And retrieve the HTML from that and append it to the content?

[2017-06-05 04:28] julianpring opened #130 "Using jscroll in Bootstrap modal?"
I want to add jscroll to a [Bootstrap modal](http://getbootstrap.com/javascript/#modals), however, I can't seem to find a way to implement it.

Here is a JSFiddle I started:

http://jsfiddle.net/DTcHh/33284/

What would the jscroll JS look like to implement jscroll in the modal?

Additionally, is it possible to return a JSON response in a different format, and grab the HTML from one of the propert

[2017-06-06 21:44] julianpring commented on #130
@pklauzinski Any ideas?

[2017-06-07 08:16] gcrispyn opened #131 "Autoloading Jscroll"
I want to use jscroll with webpack/laravel mix and after vendor build, I can't use it.

How can I import jscroll into my scripts using ECMAScript 6?

[2017-06-12 16:37] silicondigit opened #132 "Can't get 2 jscroll working"
$( document ).ready(function() {

	$('.mountakhab .load-section').jscroll({
			debug : true,
		    nextSelector: '.mountakhab-link a',
		    contentSelector: '.category-articles-list'
	});

	$('.botola-pro .load-section').jscroll({
			debug : true,
		    nextSelector: '.botola-pro-link a',
		    contentSelector: '.category-articles-list'
	});
});

When the first termined jscroll is destroyed
Fireb

[2017-06-17 07:12] kmkroski commented on #60
I managed to get this working by using the callback. Basically, it grabs the new rows and new pagination from the last 'jscroll-added' div, replaces the old pagination, and appends the new rows to the table's tbody. Overly commented code below:

[code]

[2017-06-18 18:56] darkred commented on #60
That's it! Thank you, @kmkroski

[2017-06-18 18:56] #60 closed

[2017-06-29 13:23] Sa-Lat opened #133 "jquery.jscroll.min.js is missing"
Is there a reason you removed the jquery.jscroll.min.js file in 2.3.9?

[2017-06-30 03:13] carlxaeron opened #134 "Load script"
I want to get the script tag. How do i get that?

[2017-06-30 04:01] sixtyfive opened #135 "Still working with newer jQuery versions?"
I'm trying to use jscroll with jQuery 3.2.1 but can't even get any debugging messages out of it. Does it still work with such new jQuery versions?

[2017-07-01 20:36] pklauzinski commented on #135
I have not tested it with the latest version of jQuery yet. I will have to get back to you on that.

[2017-07-02 01:53] sixtyfive commented on #135
I tried to get it to work for a couple of hours but couldn't (I'm guessing my JS debugging skill-fu is not advanced enough for that). So yeah, that'd be quite awesome 😃

[2017-07-11 18:29] neorganic opened #136 "Jscroll doesn't seems to work on Laravel 5.4"
Hello, Jscroll doesn't seem to work for some reason. I've followed this tutorial -> https://laraget.com/blog/implementing-infinite-scroll-pagination-using-laravel-and-jscroll
But the scrolling just doesn't give any effect - I only seem the only one, first loaded item that is loaded when the page loads.
There are no errors in the console.

controller:

[code]

 view:

[code]
                     at

[2017-07-21 11:28] bigretromike opened #137 "Removing content from main div prevent jScroll from triggering (no scroll)"
I have page that list `div` objects (containing text,pic,buttons) in list way. when I scroll down jScroll trigger and populate list with more content - but when I remove those `div`s with clicking each button on them the jscroll dosn't trigger because i don't scroll page.

I wanted to exposed `_load()` but it would trigger each time I click button so it would load to many pages ahead which is bad

[2017-07-21 15:27] pklauzinski commented on #137
Yes, you can set the `autoTrigger` option to `false` which will instead use the `nextSelector` link's `click` event to trigger the loading of the next set of content.

See Example 2 on [jscroll.com](http://jscroll.com/) for a demo of this.

[2017-07-21 15:27] #137 closed

[2017-07-24 03:50] bigretromike commented on #137
That dont resolve my issue, i would like to stick with autotrigget=true. I would have to detect page height and then manipulat autotrigger to off but would that evem work?

On July 21, 2017 5:27:53 PM GMT+02:00, Philip Klauzinski <notifications@github.com> wrote:

[2017-08-21 12:39] annapetrai opened #138 "I am loading with ajax the link that i want to use for jscroll ."
Jscroll does not work when I am with ajax my content.Can the problem be that I am loading the link with the ajax results.

[2017-08-21 18:20] pklauzinski commented on #138
If the content you want to initialize the scroll on is loaded via AJAX, then you need to be sure to initialize jScroll on the div after it has been loaded.

[2017-08-22 07:04] annapetrai commented on #138
The div that I am using as the ajax container is used as the jscroll container after loading the content I called the jcroll but still not working.

[2017-08-22 07:05] annapetrai commented on #138
When I click a filter it populates with ajax a div after the load function I call the jscroll function it seems that trough the debugger is called correctly but no result.

[2017-08-22 07:17] annapetrai commented on #138
My solution promises and deffered objects.

[2017-08-24 14:28] dotmagic commented on #131
Also try to get it work with various webpack config tweaks :(
I think this is a duplicate, please take a look at #114

[2017-08-28 15:13] pklauzinski commented on #131
Duplicate.

[2017-08-28 15:13] #131 closed

[2017-09-14 12:06] galaxystef commented on #77
works like a charm, thanx!

[2017-09-15 04:19] mikep165 opened #140 "How to get to the previously scrolled/loaded position via the back button"
I have a page that shows 12 items, and then loads 12 more every time the "load more" button is clicked.
If I click the "load more" button (so now I have 24 items visible) and then click through to an item, when I click the browser back button I come back to the original page with only the initial 12 items visible.  How can I set it up to show all of the items that had previously been loaded?  Than

[2017-10-08 17:53] judia opened #141 "Doesn't Work Past Page 2"
Implementing on Wordpress. Works for page 1 and 2, but doesn't go farther. Scroll down to bottom, I should see a footer and pagination. I only see the footer. There are no plugins active on my site. Has anyone run into this?

[2017-10-08 19:23] bbcreation opened #142 "image max-height jscroll stops working"
Hi;
When I use jscroll for images and use it in a class for max-height images, jscroll stops working.

[2017-10-27 15:44] queirozfcom commented on #111
+1

[2017-11-18 00:32] darkred opened #144 "Userscripts with jScroll don't work in Greasemonkey 4.0 (but work ok in GM 3.x and Tampermonkey )"
As you might have noticed in https://www.greasespot.net/2017/09/greasemonkey-4-for-script-authors.html:

But, the following userscript, meant for use to http://majorgeeks.com/, (as well as any other userscript  with jScroll that I have),
even though it doesn't use any GM API,
unfortunately it doesn't work in Greasemonkey 4.0 (or latest GM 4.1 beta4) in FF 57 :
it only shows `jScroll: -2 from botto

[2017-11-18 21:13] darkred commented on #144
I found it, it's because of the use of relative paths.
I quote from https://github.com/greasemonkey/greasemonkey/issues/2680#issuecomment-344778286 :

So, changing all `_$next.attr('href')` into `_$next.get(0).attr` fixes the issue.

[2017-11-28 19:14] wezzix commented on #60
I tried kmkroski's solution, but found two problems.
First, the next button only worked once - probably has something to do with copying html instead of dom objects with attached events. Solution: Replace pagination element.
Second, on the last page, there would be an additional table which was not merged. Solution: Use a selector for the table and use :first and :last.
Working solution, assuming

[2017-12-11 20:46] alex-nick commented on #141
My guess that maybe the trigger (nextSelector) is outside of the contentSelector.

The next link should be inside the posts container, like this:
[code]

The following code works for me:

[code]

[code]

[2017-12-20 13:11] fahadonline opened #146 "How to add more parameters to link pointing to the next set of content"
I need to add more parameters to link pointing to the next set of content
defined by "nextSelector" after jscroll is already initialized.

Any clue how can I update internally used "nextHref" ?

[2018-01-10 10:48] kwaanonline opened #147 "CSS Grid incompatable"
Hi - I've run into an issue with using jscroll on a CSS Grid based layout. I was trying to load in a series of divs via AJAX into a grid container, but because jscroll puts content into it's own container before insertion, it breaks the parents grid layout.

To test, create a container with a multi-column CSS Grid layout and load in a series of divs via ajax - they will all fit within a single col

[2018-01-24 04:41] Shanison opened #148 "Load duplicate requests when scroll very fast"
Hi,

We are using jscroll to load ajax contents. After loading the first page, if you try to keep scrolling down very very fast. It will shows two loading html and then fire a lot of ajax requests to load subsequent pages.

In the library, there is an _observe function which is triggered whenever we scroll down. It has a way to prevent loading of next page until the previous request has been finis

[2018-02-07 10:43] ztj1993 opened #149 "Ajax rewriting content issues"
If the content is covered by Ajax, the next month connection obtained by jscroll is still a connection before the Ajax coverage.

Hope to merge as soon as possible: https://github.com/pklauzinski/jscroll/pull/23 https://github.com/pklauzinski/jscroll/pull/106

[2018-02-09 10:39] burhanfarooqws opened #150 "ajax POST method"
Hi,

Is this possible to use ajax POST method for loading next content, couldn't find it in any issues just the href GET call.

In my case i have to send POST request body with lots of variable to server to get the next set of data.
any suggestion will be highly appreciated.

Thanks.

[2018-02-10 21:14] #144 closed

[2018-03-23 22:15] milepanic commented on #36
@faizshukri thank you, I am working in Laravel so I included header before section tag

[2018-03-25 23:01] Chiaki commented on #149
I have the same bug using jscroll and ajax pagination. I hope request #106 would be accepted in next version.
And big thanks to Charlie Jennings who made a fix.

[2018-04-03 08:09] rezasys2 opened #151 "Problem when the page loads at scroll point!"
Hello
Im using jscroll with laravel paging.
My problem occurs when I reload the page when I scroll down and I see scroll section.
It stops working and the loading image doesnt remove.
Plz help me.

[2018-04-06 05:56] gitrey10 opened #152 "delay as option ?"
Is there a possibility to add a delay as an option?
Before displaying content in seconds or milliseconds.

thanks for read.

[2018-04-06 16:27] pklauzinski commented on #152
@gitrey10 can you provide a use case?

[2018-04-10 02:42] pklauzinski commented on #133
I previously removed this due to some green developers adding both source and minified scripts. I will now be adding this back under a `/dist` folder.

[2018-04-10 04:46] pklauzinski commented on #135
Hi @Chiaki - it looks like this may be happening due to a deprecation in jQuery `v3.0` referenced here http://jquery.com/upgrade-guide/3.0/#deprecated-additional-easing-function-parameters

I will add a fix shortly.

[2018-04-10 04:47] #133 closed

[2018-04-10 05:02] pklauzinski commented on #114
Will add to next release.

[2018-05-24 06:19] Enalmada commented on #78
I have been using jscroll for a long time and love it but now that I am trying to get two parallel jscroll columns to update as the page scrolls it fails.  If the pull request above is the solution, please consider merging!

[2018-05-24 06:38] Enalmada commented on #48
If you got hear from google search and are having trouble getting two jscroll at the same time, the pull request https://github.com/pklauzinski/jscroll/pull/119 above is probably the solution...it worked for me.

[2018-07-10 18:06] chriz74x opened #153 "jScroll doesn't add content if jscroll-inner is inserted into a bs "card-columns" class div in desktop size"
I have responsive page where I have some bootstrap cards, I am using laravel and it's paginator, so I am adding the page links at the end of my foreach loop.
What happens is that in the webpage when scrolling to bottom nothing happens, I have 3 cards per row and 3 rows in total, 9 items. If I switch to a different view through chrome dev tools like for example "Galaxy s5" then I get only one colum

[2018-07-11 15:05] chriz74x commented on #153
I add a script to the page to log the scroll event and I can see the event is firing however jScroll doesn't trigger. Nothing happens unless I reduce the responsive page to a single column.

[code]

result:
[code]

[2018-07-11 15:25] chriz74x commented on #153
I got it. The script doesn't meet this condition:
[code]
Infact having logged those the `iTtotalHeight +  _options.padding` is always less then `$inner.outerHeight()` (1850 and 5549.91) at the end of the page. I don't know why I got this 5549.91 as $inner.outerHeight() though.

Now if I understand this correctly the `$inner.outerHeight()` is the height of the jScroll div. However that number is bi

[2018-07-11 16:56] chriz74x commented on #153
Here what I found, modyfing your code to:
[code]

and removing the class `card-columns` on my outer div the script works, because this way the `card-columns jscroll-inner` now has an height of 1849 pixels. However that's not a solution but I could try to add a script that finds the `jscroll-inner" div and adds the `card-columns` class.
Maybe you should add an option that let the user add that clas

[2018-07-11 17:30] chriz74x commented on #153
I added this in my blade view in the script section to make it work:

[code]

[2018-07-12 16:05] chriz74x commented on #153
I made a fork where I modified the script to add an optional class in user options. Please review it.
https://github.com/chriz74x/jscroll

[2018-08-01 04:05] polapolo opened #154 "jscroll can not load html using ajax (cross domain)"
I get this error when ajax from different subdomain.

How can I inject jquery ajax options:
[code]
into jscroll?

Thank you

[2018-08-01 16:07] mhluzi opened #155 ".jscroll triggered when anywhere on page is scrolled - not restricted to div"
Hi there

I am using this as an example:
https://laraget.com/blog/implementing-infinite-scroll-pagination-using-laravel-and-jscroll

On my side I have a div that I want to implement infinite scrolling on. The code load from the article above works but the jscroll event is fired no matter where scrolling occurs on the page.

Is there a way to restrict the jscroll event to only fire when the div in

[2018-08-27 14:13] ericnstrm commented on #140
Any luck on this one? Trying to find a solution for this aswell.

[2018-09-25 06:29] m-maharjan opened #156 "Request:: A javascript function to load after the html has been rendered?"
Just like loadingFunction, which is called before the xhr request, I need a function that needs to be called after the request has been completed and the view has been apended. Is there any option that I can use?

[2018-09-27 23:08] pklauzinski commented on #156
Hi @m-maharjan,

Yes, you can use the `callback` option to do just that!

Documentation here:
https://jscroll.com/#/configuration?id=callback

[2018-09-27 23:08] #156 closed, assigned to nobody

[2018-10-01 03:50] m-maharjan commented on #156
Thank you so much it worked, I thought it was called when there is no data set to be loaded at the end.

[2018-11-27 10:25] webfacer opened #157 "click trigger isn´t disabled"
Hi the click trigger isn´t disabled when clicked already and it is on load for next page. say next page is 2. but because it is not disabled on click i can click as many times on loading and load the same content of page 2 2 to 10 times until the site is loaded.
It would be nice if we have own trigger and you disable the button on click event.
would be this possible?

[2018-12-04 16:57] stardothosting commented on #152
@pklauzinski I too would like to see this feature. The loading and displaying of content happens in a millisecond and basically negates the need for infinite scroll because most end users dont even know it happened. For example its mostly the same as just displaying all content instead of loading as you scroll.

[2018-12-06 05:35] baldawayash15 opened #158 "Issue with JScroll"
Hey there,
The JQuery plugin works fine but it doesn't works with the CSS Grid. It breaks the parent container and the images get bigger than unexpected.

[2018-12-07 01:01] pklauzinski commented on #152
@stardothosting That depends on the speed of your server. But yes, if you want the user to actually see the new content loading rather than it being immediate or unnoticeable, a delay option could be implemented. I wonder how common a use case this is, however; and why a user would care to see new content loading rather than just continuing to scroll for a seamless experience.

Additionally, you c

[2018-12-13 17:04] amirkhan81 opened #159 "Callback to tell if there are more pages"
Is there a method to detect if the current "page" is the last one available?

[2018-12-23 23:38] HayriCan opened #160 "Button Trigger Example"
Is there any example for button trigger ? I couldn't find it inside of documentation.

[2018-12-24 17:55] pklauzinski commented on #159
That all depends on the format of your server response, which the plugin has no knowledge of. You can use the [`callback`](https://jscroll.com/#/configuration?id=callback) option thought to parse the response in order to determine if it is the last page and respond accordingly.

Additionally, if your [`nextSelector`](https://jscroll.com/#/configuration?id=nextselector) is not found in your server

[2018-12-24 17:55] #159 closed, assigned to pklauzinski

[2019-03-08 22:49] trbsi opened #161 "Can't have multiple jscrolls on page"
Hi

First of all nice plugin. I enjoy it :)
Is it possible to have multiple infinite scroll on one page? I'm using Laravel and I couldn't make it work.

[2019-04-10 07:09] rizal76 commented on #140
I had same problem, solve with https://github.com/artsy/scroll-frame

[2019-04-16 01:32] amanda-ariyaratne commented on #79
thank you, it works!!

[2019-05-14 14:07] ahmedfarag2010 opened #162 "contentSelector load all DOM"
I've tried to use contentSelector just like:
contentSelector: 'div.sandboxNew'
or
contentSelector: '.sandboxNew'
But it return all the DOM of page

[2019-05-15 09:58] ahmedfarag2010 opened #163 "change url - SEO"
I want to change the url of page with ajax response title

[2019-05-26 09:01] boozeahead opened #164 "Parceljs"
How can i implement this to parcel.js

[2019-06-24 11:17] Peter-JanGootzen opened #165 "_load not triggered when page is zoomed in or out at certain levels"
When the page is zoomed in or out at certain levels such as:
- 170%
- 210%
- 110%
- 120%
- 90%
- 80%

The _observe calculation doesn't detect when the window has been scrolled all the way down.
This issue appears both in Firefox and Chrome.

[2019-07-18 03:03] developerxnz commented on #165
Any updates on this? We are experiencing similar issues.

[2019-07-19 20:29] Peter-JanGootzen commented on #165
No we have not been able to find time to further investigate this issue. If we find a fix, we will definitely create a PR.

[2019-07-19 22:28] developerxnz commented on #165
I have located the issue in the  _setBindings function. When users zoom pages that contain the scroll, the dimension check doesn’t meet the criteria and so the _observe function isn’t called.

If(scrollingHeight <= windowHeight)...

[2019-07-24 08:57] munagurung opened #166 "jscroll does not load the new content all the time"
Hello,

I am using jscroll on a search page in a laravel app and it doesn't work all the time. Sometimes jscroll doesn't load the second page, I can see from the telescope that the jscroll has requested for the second page and that the app has returned a valid response. However, jscroll doesn't add the new content in the view and keeps on showing the loading html. I have attached an image of the d

[2019-07-24 17:22] pklauzinski commented on #166
Hi @munagurung - It is difficult to be sure without testing your code, but I suspect that because you are removing `ul.pagination` in your `callback` parameter, and that selector contains your `nextSelector`, then the `nextSelector` is not being found because it has been removed from the DOM.

Try calling `$('ul.pagination').hide()` instead of `.remove()` and see if that does the trick.

[2019-07-29 08:05] munagurung commented on #166
Hey, thank you for your reply.

I have tried your suggestion but it is still not working. I am thinking that `ul.pagination` is not the problem because if it is, then the jscroll would output `jScroll: nextSelector not found - destroying` and the loading HTML would be removed. This does not happen in my case. Any other ideas?
It is very difficult to debug considering it does load the results somet

[2019-08-19 15:09] zzzgit opened #167 "is there a vinilla js alternative?"
is there a vinilla js alternative for `jscroll`?

[2019-08-20 23:41] dustindclark opened #168 "Add Support for Error Callback"
Currently, if the AJAX load fails, the spinner and/or loading context shows indefinitely.  Add support for an error callback so that apps can override this behavior.

[2019-08-21 00:39] dustindclark commented on #168
Closing in favor of #38.  Will submit PR shortly.

[2019-08-21 00:39] #168 closed, assigned to nobody

[2019-09-03 16:01] pklauzinski commented on #167
Not at this time, but `v3.0` will no longer require jQuery.

[2019-09-03 16:01] #167 closed, assigned to nobody

[2019-10-15 19:43] Leodau opened #170 "Support sending URL params."
This is an enhancement request,

JSCROLL should absolutely support **url query options**, let's say you need to send filters to your backend to get different result.

'?customParams=data'
🙃🙃

[2019-10-28 10:01] zoltan-sule commented on #64
my solution is maybe less elegant but working. It is a similar approach like wezzix's one in #60.

[How to scroll table rows with jQuery jScroll? - stackoverflow](https://stackoverflow.com/questions/58503672/how-to-scroll-table-rows-with-jquery-jscroll/58503673#58503673)

[2019-10-28 16:03] #64 closed

[2019-11-25 03:44] alvinzjoe commented on #130
Would just leave it here:
[code]

[2019-11-25 03:44] alvinzjoe commented on #130
[code]

[2020-01-21 13:53] piterjov commented on #170
Any update on this

[2020-02-13 10:47] TNDJX opened #171 "Not working on mobile"
Hi i am using your plugin, but i can't make it work on mobile devices my issue is the same like this post on Stack:
[https://stackoverflow.com/questions/45035411/jscroll-not-working-on-android-device](url)

Is there a way to to use jscroll on mobile devices?

[2020-02-13 22:32] pklauzinski commented on #171
Try setting the `padding` option to something above 0, maybe 20 or so, so that the auto-scroll is triggered before the very end of the page.

[code]

Full options list here:
https://github.com/pklauzinski/jscroll#options

[2020-02-14 16:34] #171 closed, assigned to pklauzinski

[2020-10-05 08:38] opensourceame opened #172 "documentation - detecting and destroying jscroll"
I think it would be worth adding to the documentation, both in the README and on the jscroll.com website, how you can detect if jscroll is being applied and how to destroy it. This was important for me to know when to destroy the jscroll when switching from a scrolling tiles view to a list view. Something like this:

[code]

[2021-02-09 18:27] alge90rto commented on #146
At line 150 please add this .

  data.nextHref = $(_options.nextSelector).attr('href');

  this will solve problem of getting all parameters from the query string

[2021-02-09 18:28] almas-786 commented on #146
goo suggestion let me make a fix to this.

[2021-03-08 08:38] ilmam opened #173 "jscroll is not a function"
I am including jscroll as follows:

[code]

yet I am getting the error:

it's driving me crazy! any idea what's going on here? I am using it inside a Laravel blade.

[2021-03-14 17:06] eqxDev commented on #170
You can do this with the callback function and window history.
[code]

[2021-03-14 17:07] eqxDev commented on #173
Instead of doing ready try: `jQuery(function ($) {`

[2021-05-18 01:24] gojimmypi commented on #171
@pklauzinski that `padding: 20` is certainly a big help, however in my situation the scroll gives up on page 12 of 15. It simply won't go any further on a mobile device. I tried increasing to 60, but the next page just does not trigger. It works fine on the desktop.

Here's my init:

[code]
Here's a snip of my article elements, loaded 8 at a time on 10 pages beyond the initial display before givin

[2021-08-05 21:52] #170 closed, assigned to pklauzinski

[2021-10-28 14:36] wolfpack4417 commented on #166
@munagurung I know this is an old post, but for anyone else who finds it later. Laravel has implemented Cursor Pagination which is more efficient for infinite scroll now. https://laravel.com/docs/8.x/pagination#cursor-pagination

If you're still having issues, let me know and I can try to help you debug them. I have infinite scrolling with Laravel's cursor pagination and jscroll working on my app

[2022-01-13 09:54] ghost commented on #166
@wolfpack4417
 i have the same issue
[code]
i am on laravel 8 and if i use cursorPaginate it will through an error :

[code]

[2022-03-16 15:39] FlySquare commented on #160
rez

[2022-04-20 08:20] sergiuturus commented on #161
Any news on this? I couldn't make it work using tab panes either

[2022-11-21 09:06] arbabi2010 opened #175 "loadingHtml not workig correctly with pjax"
Hi . i am using jscroll in pjax project and for loadingHtml i use below code
`            loadingHtml: '<div class="text-center"><i class="fa fa-spinner fa-spin fa-fw"></i></div> Loading...',
`

but i get **Uncaught SyntaxError: Invalid or unexpected token**  error . but when i reload page everything is ok.